.main-view-container {
  margin: 15px;
}

.edit-button-container {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}

.contact-header {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.edit-contact-form {
  margin-top: 40px;
}